language: python
python:
  - 3.6
notifications:
  email: false
  
before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

install:
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION tensorflow=1.13.1
  - source activate test-environment
  - conda install pytorch-cpu torchvision-cpu -c pytorch  
  - pip install tensorboardX
  - pip install black
  - python setup.py install


# Run test
jobs:
  include:
    - stage: formatting
      script:
        - black --check .
    - stage: example_tests
      script:
        - cd examples
        - python -m pytest
